body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
ul {
    background-color: orange;
    line-height: 40px;
}
.mod-cor {
    background-color: red;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}